# Enforce strict peer dependency checks
strict-peer-dependencies=true

# Hoist all node_modules to root so sub-libraries do not generate local node_modules
node-linker=hoisted

# Enable automatic installation of peer dependencies
auto-install-peers=true
