# Enforce strict peer dependency checks
strict-peer-dependencies=true

# Hoist all dependencies to workspace root
shamefully-hoist=true
node-linker=hoisted

# Enable automatic installation of peer dependencies
auto-install-peers=true
